* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    /* sets body background colour */
    
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* sets padding, font, background colour and text colour */
}

header h1 {
    display: inline-block;
    font-size: 48px;
    /* positions links and sets font size for "Horiseon" text */
}

abbr {
    color: #d9dcd6;
    /* sets font colour to #d9dcd6 for seo in the header */
    text-decoration: none;
    /* removes full stops from below the text */
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* positions links and sets the font and font size */
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    /* sets margin and position of the links */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* changes the default colour and removes the underline normally present for links */
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /* sets and provides paremeters for the background image */
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* sets parameters for all elements within this class */
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /* applies the same commands to all three classes */
}

.content img {
    max-height: 200px;
    /* sets the max height to 200px for images under <section class="content"> */
}

.float-left {
    float: left;
    margin-right: 25px;
    /* moves the image to the left */
}

.float-right {
    float: right;
    margin-left: 25px;
    /* moves the image to the right */
}

.content-h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* sets margin and font size for the h2 headers */
}

p {
    font-size: 16px;
    /* sets the font size for all text contained within this class */
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    /* sets parameters for all elements within this class */
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    /* applies the same margin command to all three classes */
    }

h3 {
    margin-bottom: 10px;
    text-align: center;
    /* centers text and sets margin for all h3 tags */
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /* applies the same commands to all three images */
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* sets padding and font for all text inside the footer */
}

.footer h2 {
    font-size: 20px;
    /* alters the font size text inside h2 aspect of footer */
}
